.home-container {
  padding: 10px;
  font-size: 21px;
  text-align: center;
  background-color: #ffffff;
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #00285f;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 21px;
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25px 10px 15px;
}

.home-content-container h1 {
  color: #ffffff;
  font-size: 0.9em;
  margin-bottom: 7px;
}

.home-content-container p {
  color: #ffffff;
  width: 220px;
  font-size: 0.6em;
  margin-bottom: 45px;
}

.home-image-container {
  padding: 62px 28px 10px 28px;
}

.home-image-container img {
  width: 244px;
  height: 146px;
}

.home-subcard {
  margin-bottom: 121px;
}

.home-subcontent-container {
  display: flex;
  flex-direction: column;
  padding: 28px;
}

.home-subcontent-container p {
  color: #585858;
  font-size: 0.9em;
  padding-top: 9px;
}

@media (min-width: 576px) {
  .home-container {
    padding: 16px;
    font-size: 33px;
  }

  .home-content-container {
    margin-bottom: 20px;
  }
  .home-content-container h1 {
    font-size: 1em;
  }

  .home-content-container p {
    font-size: 0.5em;
    width: 420px;
    margin-bottom: 39px;
  }

  .home-image-container img {
    width: 333px;
    height: 210px;
  }

  .home-subcard {
    font-size: 18px;
  }
  .home-subcontent-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .subcard-button-container {
    padding-right: 16px;
  }
  .subcard-text-container p {
    padding-top: 15px;
  }
}

@media (min-width: 768px) {
  .home-container {
    padding: 16px;
    font-size: 36px;
  }

  .home-card {
    margin-bottom: 26px;
  }

  .home-image-container {
    padding-top: 90px;
  }

  .home-image-container img {
    width: 333px;
    height: 199px;
  }

  .home-content-container {
    padding-top: 20px;
  }
  .home-content-container h1 {
    font-size: 1em;
  }
  .home-content-container p {
    margin-bottom: 66px;
    font-size: 0.5em;
  }
  .home-subcard {
    flex-direction: row;
  }
  .home-subcontent-container {
    justify-content: left;
    align-items: baseline;
    padding-left: 85px;
  }
}

@media (min-width: 992px) {
  .home-container {
    padding: 30px 20px 25px 20px;
    font-size: 40px;
  }
  .home-image-container {
    padding-top: 100px;
  }

  .home-image-container img {
    width: 455px;
    height: 272px;
  }

  .home-content-container h1 {
    padding-top: 0px;
    font-size: 1em;
  }

  .home-content-container p {
    font-size: 0.5em;
  }
  .home-subcard {
    margin-bottom: 368px;
  }
}

@media (min-width: 1200px) {
  .home-container {
    padding: 30px 151px 25px 150px;
    font-size: 36px;
  }
  .home-card {
    flex-direction: row;
    justify-content: space-around;
  }
  .home-content-container {
    margin-top: 110px;
    padding-left: 85px;
    align-items: flex-start;
    text-align: left;
    align-content: center;
    flex-flow: wrap;
    flex-direction: column;
  }

  .home-image-container {
    display: flex;
    align-items: center;
    padding-left: 0px;
  }
  .home-image-container img {
    width: 333px;
    height: 199px;
  }
}

@media (min-width: 1366px) {
  .home-subcontent-container {
    padding-left: 110px;
  }
}
