.home-car {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 86px;
  align-items: center;
}
.car-pesquisa {
  width: 199px;
  height: 40px;
}
.car-pesquisa input, .car-pesquisa input:hover {
  background: #ffffff;
  border-radius: 5px 0px 0px 5px;
}
.car-button-busca{
  border-radius: 0px 5px 5px 0px;
  background: #00285f;
}
.btn-busca-car{
  width: 77px;
  height: 40px;
}
.car-button-busca h6 {
  color: #fff;
  display: flex;
  justify-content: center;
}

@media (min-width: 576px) {
  .home-car {
    margin-bottom: 30px;
    height: 123px;
  }

  .car-pesquisa {
    width: 320px;
    height: 40px;
  }

  .btn-busca-car{
    width: 174px;
    height: 40px;
  }
}

@media (min-width: 768px) {
  .car-pesquisa {
    width: 496px;
  }

  .btn-busca-car {
    width: 154px;
  }
}

@media (min-width: 992px) {
  .car-pesquisa {
    width: 584px;
  }

  .btn-busca-car {
    width: 174px;
  }
}
